* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-style: italic;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 6px;
  float: left;
}

h2 {
  font-size: 48px;
  word-spacing: px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a:link,
a:visited {
  text-decoration: none;
  color: peru;
}

a:hover {
  color: peachpuff;
}

a:active {
  color: aqua;
}

nav {
  float: right;
  margin-top: 24px;
}

nav a {
  margin-right: 24px;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 16px;
}

strong {
  color: black;
}

aside {
  padding: 0 24px;
  border-top: 4px solid peru;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
}

footer {
  text-align: center;
}

#author {
  color: gray;
}

.header-top {
  padding: 12px;
  border-top: 4px solid peru;
  background-color: rgb(245, 245, 245);
}

.related-post {
  font-size: 14px;
  margin-bottom: 16px;
}

.related-post img {
  float: left;
  margin-right: 12px;
}

.related-post p {
  font-size: 12px;
  font-style: italic;
}

.copyright {
  font-size: 12px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.author-img {
  float: left;
}

.author {
  float: left;
  margin-left: 16px;
  margin-top: -8px;
}

.clear {
  clear: both;
}

article {
  width: 825px;
  float: left;
  margin-right: 24px;
}

aside {
  width: 300px;
  float: right;
  margin-top: 48px;
}

footer {
  text-align: left;
}
