body {
  font-family: sans-serif;
  max-width: 920px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-style: italic;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 6px;
}

h2 {
  font-size: 48px;
  word-spacing: px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: peru;
}

nav a {
  margin-right: 24px;
}

ul li {
  list-style-type: none;
  font-size: 16px;
}

strong {
  color: black;
}

aside {
  padding: 0 24px;
  border-top: 4px solid peru;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
}

footer {
  text-align: center;
}

#author {
  color: gray;
}

.header-top {
  text-align: center;
}

.related-post {
  font-size: 14px;
}

.related-post p {
  font-size: 14px;
  font-style: italic;
}

.copyright {
  font-size: 12px;
}
