@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin abscenter($top: 50%, $left: 50%, $xaxis: -50%, $yaxis: -50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate($xaxis, $yaxis);
}

@mixin circle-box($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
}
