*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  background-color: hsl(210, 46%, 95%);
  width: 100%;
  height: 100vh;
}

#testimonial-grid__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 230px));
  grid-template-rows: repeat(2, min-content);
  grid-gap: 24px;
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.testimonial-grid__item {
  padding: 24px;
  border-radius: 8px;
}

.testimonial-grid__author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.testimonial-grid__author img {
  width: 32px;
  height: 32px;
  /*  DON'T FORGET TO CHANGE BORDER COLOR 
  TO LOOK LIKE THAT OF THE DESIGN */
  border: 2px solid hsl(263, 55%, 52%);
  border-radius: 50%;
}

.testimonial-grid__author-details span {
  font-size: 11px;
  display: block;
}

.testimonial-grid__author-name {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 2px;
  color: hsl(210, 46%, 95%);
}

.testimonial-grid__author-cert {
  color: hsl(0, 0%, 81%);
}

.testimonial-grid__quote {
  position: relative;
  z-index: 2;
}

.testimonial-grid__quote-large {
  font-size: 20px;
  font-weight: 500;
  color: hsl(210, 46%, 95%);
  margin-bottom: 24px;
}

.testimonial-grid__quote-small {
  font-size: 13px;
  line-height: 1.4;
  color: hsl(0, 0%, 81%);
}

.item--1 {
  grid-column: span 2;
  background-color: hsl(263, 55%, 52%);
  position: relative;
}

.item--1 .pattern {
  position: absolute;
  top: 0;
  right: 72px;
  z-index: 1;
}

.item--2 {
  background-color: hsl(217, 19%, 35%);
}

.item--3 {
  background-color: hsl(0, 0%, 100%);
}

.item--4 {
  grid-column: span 2;
  background-color: hsl(219, 29%, 14%);
}

.item--5 {
  grid-column: 4 / 5;
  grid-row: 1 / span 2;
  background-color: hsl(0, 0%, 100%);
}

.item--3 .testimonial-grid__author-name,
.item--5 .testimonial-grid__author-name,
.item--3 .testimonial-grid__quote-large,
.item--5 .testimonial-grid__quote-large,
.item--3 .testimonial-grid__quote-small,
.item--5 .testimonial-grid__quote-small {
  color: hsl(217, 19%, 35%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%) */

/*Small laptops & large Tablets*/
@media only screen and (max-width: 1100px) {
  #testimonial-grid__container {
    max-width: 100%;
  }
}

/* Tablets */
@media only screen and (max-width: 960px) {
  body {
    height: 100%;
    padding: 64px 24px;
  }

  #testimonial-grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    height: 100%;
    margin-bottom: 24px;
  }

  .testimonial-grid__item {
    grid-column: 1 / -1;
  }

  .item--5 {
    grid-row: 5 / 6;
  }

  .item--1 .pattern {
    right: 24px;
  }

  .attribution {
    font-size: 14px;
  }
}
